<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Goblin Generator</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>Do You Want to Build a Goblin?</h1>

<div id="input">
    <h4>New Goblin</h4>
    <a href="/">
        <button>Gimme a rando</button>
    </a>

    <form action="/">
        <input name="name" placeholder="I wanna name it">
    </form>
</div>

{% if goblin.name %}
    <h2 id="type">{{goblin.name}} the {{goblin.type}} goblin</h2>
{% else %}
    <h2 id="type">{{goblin.type}} goblin</h2>
{% endif %}

<div id="abilities">
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Modifier</th>
        </tr>
        <tr>
            <td>Str</td>
            <td>{{goblin.str}}</td>
            <td>{{goblin.str_mod()}}</td>
        </tr>
        <tr>
            <td>Dex</td>
            <td>{{goblin.dex}}</td>
            <td>{{goblin.dex_mod()}}</td>
        </tr>
        <tr>
            <td>Con</td>
            <td>{{goblin.con}}</td>
            <td>{{goblin.con_mod()}}</td>
        </tr>
        <tr>
            <td>Int</td>
            <td>{{goblin.int}}</td>
            <td>{{goblin.int_mod()}}</td>
        </tr>
        <tr>
            <td>Wis</td>
            <td>{{goblin.wis}}</td>
            <td>{{goblin.wis_mod()}}</td>
        </tr>
        <tr>
            <td>Cha</td>
            <td>{{goblin.cha}}</td>
            <td>{{goblin.cha_mod()}}</td>
        </tr>
    </table>
</div>

<div>
    <ul>
        <li>Languages: {{goblin.languages | render_set}}</li>
        <li>Alignment: {{goblin.alignment}}</li>
        <li>Initiative: {{goblin.get_init()}}</li>
    </ul>
</div>

<div id="defence">
    <ul>
        <li>HP {{goblin.get_hp()}}</li>
        <li>AC {{goblin.get_ac()}}</li>
        <li>Touch AC {{goblin.get_touch_ac()}}</li>
        <li>Flat Footed {{goblin.get_flat_footed_ac()}}</li>
        <li>Fortitude {{goblin.get_fort_save()}}</li>
        <li>Reflex {{goblin.get_ref_save()}}</li>
        <li>Will {{goblin.get_will_save()}}</li>
    </ul>
</div>

<div id="offense">
    <ul>
        <li>Base Attack Bonus {{goblin.get_bab()}}</li>
        <li>CMB {{goblin.get_cmb()}}</li>
        <li>CMD {{goblin.get_cmd()}}</li>
    </ul>
</div>

<div id="physical">
    <ul>
        <li>Speed: {{goblin.speed}}ft</li>
        <li>Height: {{goblin.format_height()}}</li>
        <li>Weight: {{goblin.weight}}lbs</li>
        <li>Hair Colour: {{goblin.hair_colour}}</li>
        <li>Eyes: {{goblin.eyes}}</li>
        <li>Gender: {{goblin.gender}}</li>
        <li>CarryWeights: Light = {{goblin.get_light_load()}}, Medium = {{goblin.get_medium_load()}}, Heavy = {{goblin.get_heavy_load()}}</li>
    </ul>
</div>

<div id="abilities">
    <ul>
        {% for ability in goblin.special_abilities %}
            <li>{{ability.name}}: {{ability.description}}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
